/* Header */

.header .inner-logo img {
    max-height: 50px;
    max-width: 100%;
  }

  .header .inner-container {
    background-color: aquamarine;
    padding: 20px;
  }

  .header .inner-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .header .inner-menu ul li a{
    margin-right: 40px;
    color: black;
    font-size: 20px;
  }

  /* End Header */

   /* Footer Styles */
   .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  

  .box-head {
    margin-bottom: 30px;
  }
  
  .box-head .inner-title {
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
    color: green;
  }

  /* Body */
  .product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 40px;
  }
  
  .product-item .inner-image {
    width: 100%;
    aspect-ratio: 4/3;
    border-bottom: 1px solid #ddd;
  }
  
  .product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .product-item .inner-content {
    padding: 15px;
  }
  
  .product-item .inner-content .inner-title {
    font-size: 20px;
    font-weight: 600;
  }

  .product-item .inner-content .inner-price {
    font-size: 20px;
    font-weight: 600;
  }

  .product-item .inner-content .inner-stock {
    font-size: 20px;
    font-weight: 600;
  }

  .box-balance .inner-balance {
    font-size: 30px;
    margin-bottom: 10px;
    color: green;
  }

  /* End body */

  /* Show Alert */
  [show-alert] {
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
  }
  
  [show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  
  @keyframes alert-hidden {
    from {
      right: 15px;
    }
    to {
      right: -100%;
      display: none;
    }
  }
  
  [show-alert] [close-alert] {
    background: #ffffffc4;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
  }
  /* End Show Alert */