extends ../../layouts/default.pug

block main 
   .container 
      .row 
        .col-12 
          .box-head  
            .inner-title #{pageTitle}  
      .row 
        .col-3 
          h2 #{myAccount}
